# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
tmp/
temp/
application/physical/mobileapp/.sourcemaps/
application/physical/mobileapp/node_modules/
application/physical/mobileapp/hooks/
application/physical/mobileapp/platforms/
application/physical/mobileapp/plugins/
application/physical/mobileapp/plugins/android.json
application/physical/mobileapp/plugins/ios.json
application/physical/mobileapp/www/
$RECYCLE.BIN/

data/incoming/naturalearth/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Jekyll
_site/

Gemfile.lock

application/physical/mobileapp/*.jks
application/physical/mobileapp/google-services.json

application/physical/mobileapp/slm.apk
